body {
  font-family: Inika;
  background: url('/paper.gif');
  color: #31354d;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

.page {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 900px;
}

.sidebar {
  margin-top: 7em;
  width: 300px;
  float: left;
  color: #8e95b4;
}

.sidebar a {
  color: #8e95b4;
}

h1 {
  margin-top: 0;
}

h1 .count {
  display: inline-block;
  background-color: #8e95b4;
  color: #dee6ff;
  height: 16px;
  min-width: 16px;
  font-size: 16px;
  line-height: 14px;
  padding: 7px;
  border-radius: 15px;
  vertical-align: 6px;
}

.content {
  float: left;
  max-width: 600px;
}

.inner {
  padding: 0 30px 30px 30px;
}

.home ul {
  margin: 0;
  padding: 0;
  color: #c0c7dc;
}



.home li {
  margin-bottom: 1.3em;
}

.question {
  margin-top: 2em;
  font-weight: bold;
}

.intro {
}

a {
  color: #31354d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.byline {
  margin-top: 0;
  font-weight: bold;
}

h1, h1 a {
  font-weight: normal;
  line-height: 1.3em;
  color: inherit;
}

h1 a:hover {
  text-decoration: underline;
}

.sidebar a {
  text-decoration: underline;
}
