body {
  font-family: sans-serif;
  background-color: #FFDA9E;
  color: #543401;
}

.page {
  width: 600px;
  margin: 0 auto;
}

.home ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.home li {
  margin-bottom: 1em;
}

.question {
  margin-top: 2em;
  font-weight: bold;
}

.intro {
}

a {
  color: #555;
}

.byline {
  margin-top: 0;
  font-weight: bold;
}

h1 a {
  text-decoration: none;
}

h1, h1 a {
  color: #EB970F;
}

a {
  color: #7A4E07;
}

h1 a:hover {
  text-decoration: underline;
}